- if @page && @page.id == current_site.root_post_id
  = render partial: "storytime/pages/content", locals: { page: @page }
- elsif @post
  = render partial: "storytime/pages/content", locals: { page: @post }
